.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #f2f2f2;
  margin: 5%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#mainGraphContainer {
  flex: 5;
  position: relative;
}

#header {
  align-items: center;
}

#title {
  text-align: center;
}

#cidade_input{
  text-align: center;
  width: calc(100%);
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  justify-content: center;
  text-align: center;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#novos_casos {
  flex: 1;
}

#incidencia {
  flex: 1;
}

#novos_obitos {
  flex: 1;
}

#mortalidade {
  flex: 1;
}

#letalidade {
  flex: 1;
}

#grafico_obitos,
#grafico_casos {
  width: calc(100% - 30px);
  position: absolute;
}

#mainGraph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
